html, body {
    margin:0;
    padding:0;
    border:0 none;
    overflow:hidden;
    height:100%;
}

.x-tree-icon-parent {
    width: 0;
}


#ace-editor {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.msg .x-box-mc {
    font-size:14px;
}

#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:300px;
    z-index:20000;
}

#msg-div .msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
#msg-div .msg p {
    margin: 0;
}